
.main-carousel{
	.carousel-cell{
		
		margin: 0 auto;
		h1{
			font-style: "MyriadPro";
			font-size: 35px;
			margin-top: 4em;
		}

		p{
			margin: 0 auto;
			max-width: 700px;
			text-align: center;
			font-family: "MyriadPro";
			color: $light-gray;

		}

		button{
			padding: 5px;
			margin-top: 2em;
			background-color: $red;
			height: 40px;
			width: 170px;
			border: none;
			color: $white;
			font-family: "MyriadPro";
			font-size: 15px;
			border-radius: 5px;
		}
	}
}

.second{
	position: relative;
	margin: 0 auto;
	
	.aboveRedLine{
	    margin: 0 auto;
	    margin-left: 18%;
	    display: block;
	    width: 64%;
	    position: absolute;
	    z-index: 99999;
	    height: 100px;
	    background-color: white;
	    top: -49px;
	    border-radius: 5px;
	    padding: 10px;
	    box-shadow: 0 3px 3px $light-gray;

	
	h3{
		font-family: "MyriadPro";
		font-weight: bold;
		float: left;
		width: 50%;
		position: absolute;
		}

	p{
		
		margin-top: 3em;
		font-family: "MyriadPro";
		font-weight: lighter;
		color: $gray;
		float: left;	

	}

	button{
		float: right;
		padding: 5px;
		margin-top: 2em;
		margin-right: 1em;
		background-color: $red;
		height: 40px;
		width: 170px;
		border: none;
		color: $white;
		font-family: "MyriadPro";
		font-size: 15px;
		border-radius: 5px;
	}

}

}


.third{
	padding-top: 80px;
	width: 100%;
	background-color: $super-light-gray;
	height: 560px; 
	border-bottom: solid;
	border-color: $light-gray;
	border-bottom-width: 0.5px;
	.wrapper{
		margin: 0 auto;
		max-width: 900px;
		
		
		.thirdsTitle{
			
			text-align: center;
			font-family: "MyriadPro";
			font-weight: bold;

		}

		.content1{

			width: 30%;

			.gumaH2{
				background: url("../img/guma.png") no-repeat;
				height: 100px;
				text-indent: 65px;
				line-height: 50px;
				font-family: "MyriadPro";
				font-weight: lighter;
				display: inline-block;
			}

			img{
				margin-top: -50px;
				margin-left: 65px;
			}

			p{
				margin-left: 65px;
				font-family: "MyriadPro";
				font-weight: lighter;
				color: $gray;
			}
		}
		

		.content2{
			@extend .content1;
			margin-left: 35%;
			margin-top: -395px;

			.parkingH2{
				background: url("../img/alchemy.png") no-repeat;
				@extend .gumaH2;
				
				

			}
		}

		.content3{
			@extend .content2;
			position: relative;
			margin-left: 70%;

			.aparatH2{
				background: url("../img/kapljica.png") no-repeat;
				@extend .parkingH2;
			}
		}

	}


}


.whiteSlider{
	clear: both;
	padding-top: 80px;
	


	h2{
		font-family: "MyriadPro";

	}

	p{
		margin: 0 auto;
		
		color: $gray;
		font-weight: lighter;
		width: 900px;
		text-align: center;

	}



	.flickity-page-dots {
	  position: absolute;
	  width: 100%;
	  bottom: 100px;
	  list-style: none;
	  text-align: center;
	  line-height: 1;

	  .dot {
		  background: $light-gray;
		  
		  .is-selected {
			  background: $dark-gray;
			}
		}
	}

	.flickity-prev-next-button{
		display: none;
	}

	.carousel-cell1{
		height: 300px;
	}
}

