@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MyriadPro-Regular.otf);
}

/* line 3, ../scss/base/_base.scss */
.main-carousel .carousel-cell {
  margin: 0 auto;
}
/* line 6, ../scss/base/_base.scss */
.main-carousel .carousel-cell h1 {
  font-style: "MyriadPro";
  font-size: 35px;
  margin-top: 4em;
}
/* line 12, ../scss/base/_base.scss */
.main-carousel .carousel-cell p {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  font-family: "MyriadPro";
  color: #c4c4c4;
}
/* line 21, ../scss/base/_base.scss */
.main-carousel .carousel-cell button {
  padding: 5px;
  margin-top: 2em;
  background-color: #da251d;
  height: 40px;
  width: 170px;
  border: none;
  color: white;
  font-family: "MyriadPro";
  font-size: 15px;
  border-radius: 5px;
}

/* line 36, ../scss/base/_base.scss */
.second {
  position: relative;
  margin: 0 auto;
}
/* line 40, ../scss/base/_base.scss */
.second .aboveRedLine {
  margin: 0 auto;
  margin-left: 18%;
  display: block;
  width: 64%;
  position: absolute;
  z-index: 99999;
  height: 100px;
  background-color: white;
  top: -49px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 3px 3px #c4c4c4;
}
/* line 55, ../scss/base/_base.scss */
.second .aboveRedLine h3 {
  font-family: "MyriadPro";
  font-weight: bold;
  float: left;
  width: 50%;
  position: absolute;
}
/* line 63, ../scss/base/_base.scss */
.second .aboveRedLine p {
  margin-top: 3em;
  font-family: "MyriadPro";
  font-weight: lighter;
  color: #a8a8a8;
  float: left;
}
/* line 73, ../scss/base/_base.scss */
.second .aboveRedLine button {
  float: right;
  padding: 5px;
  margin-top: 2em;
  margin-right: 1em;
  background-color: #da251d;
  height: 40px;
  width: 170px;
  border: none;
  color: white;
  font-family: "MyriadPro";
  font-size: 15px;
  border-radius: 5px;
}

/* line 93, ../scss/base/_base.scss */
.third {
  padding-top: 80px;
  width: 100%;
  background-color: #efefef;
  height: 560px;
  border-bottom: solid;
  border-color: #c4c4c4;
  border-bottom-width: 0.5px;
}
/* line 101, ../scss/base/_base.scss */
.third .wrapper {
  margin: 0 auto;
  max-width: 900px;
}
/* line 106, ../scss/base/_base.scss */
.third .wrapper .thirdsTitle {
  text-align: center;
  font-family: "MyriadPro";
  font-weight: bold;
}
/* line 114, ../scss/base/_base.scss */
.third .wrapper .content1, .third .wrapper .content2, .third .wrapper .content3 {
  width: 30%;
}
/* line 118, ../scss/base/_base.scss */
.third .wrapper .content1 .gumaH2, .third .wrapper .content2 .gumaH2, .third .wrapper .content3 .gumaH2, .third .wrapper .content1 .content2 .parkingH2, .third .wrapper .content2 .content1 .parkingH2, .third .wrapper .content2 .parkingH2, .third .wrapper .content3 .content2 .parkingH2, .third .wrapper .content2 .content3 .parkingH2, .third .wrapper .content1 .content3 .parkingH2, .third .wrapper .content3 .content1 .parkingH2, .third .wrapper .content2 .content3 .parkingH2, .third .wrapper .content3 .content2 .parkingH2, .third .wrapper .content3 .parkingH2, .third .wrapper .content1 .content2 .content3 .aparatH2, .third .wrapper .content2 .content3 .content1 .aparatH2, .third .wrapper .content2 .content3 .aparatH2, .third .wrapper .content2 .content3 .aparatH2, .third .wrapper .content1 .content3 .content2 .aparatH2, .third .wrapper .content3 .content2 .content1 .aparatH2, .third .wrapper .content3 .content2 .aparatH2, .third .wrapper .content3 .content2 .aparatH2, .third .wrapper .content1 .content3 .aparatH2, .third .wrapper .content3 .content1 .aparatH2, .third .wrapper .content2 .content3 .aparatH2, .third .wrapper .content3 .content2 .aparatH2, .third .wrapper .content3 .aparatH2 {
  background: url("../img/guma.png") no-repeat;
  height: 100px;
  text-indent: 65px;
  line-height: 50px;
  font-family: "MyriadPro";
  font-weight: lighter;
  display: inline-block;
}
/* line 128, ../scss/base/_base.scss */
.third .wrapper .content1 img, .third .wrapper .content2 img, .third .wrapper .content3 img {
  margin-top: -50px;
  margin-left: 65px;
}
/* line 133, ../scss/base/_base.scss */
.third .wrapper .content1 p, .third .wrapper .content2 p, .third .wrapper .content3 p {
  margin-left: 65px;
  font-family: "MyriadPro";
  font-weight: lighter;
  color: #a8a8a8;
}
/* line 142, ../scss/base/_base.scss */
.third .wrapper .content2, .third .wrapper .content3 {
  margin-left: 35%;
  margin-top: -395px;
}
/* line 147, ../scss/base/_base.scss */
.third .wrapper .content2 .parkingH2, .third .wrapper .content3 .parkingH2, .third .wrapper .content2 .content3 .aparatH2, .third .wrapper .content3 .content2 .aparatH2, .third .wrapper .content3 .aparatH2 {
  background: url("../img/alchemy.png") no-repeat;
}
/* line 156, ../scss/base/_base.scss */
.third .wrapper .content3 {
  position: relative;
  margin-left: 70%;
}
/* line 161, ../scss/base/_base.scss */
.third .wrapper .content3 .aparatH2 {
  background: url("../img/kapljica.png") no-repeat;
}

/* line 173, ../scss/base/_base.scss */
.whiteSlider {
  clear: both;
  padding-top: 80px;
}
/* line 179, ../scss/base/_base.scss */
.whiteSlider h2 {
  font-family: "MyriadPro";
}
/* line 184, ../scss/base/_base.scss */
.whiteSlider p {
  margin: 0 auto;
  color: #a8a8a8;
  font-weight: lighter;
  width: 900px;
  text-align: center;
}
/* line 196, ../scss/base/_base.scss */
.whiteSlider .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 100px;
  list-style: none;
  text-align: center;
  line-height: 1;
}
/* line 204, ../scss/base/_base.scss */
.whiteSlider .flickity-page-dots .dot {
  background: #c4c4c4;
}
/* line 207, ../scss/base/_base.scss */
.whiteSlider .flickity-page-dots .dot .is-selected {
  background: #272727;
}
/* line 213, ../scss/base/_base.scss */
.whiteSlider .flickity-prev-next-button {
  display: none;
}
/* line 217, ../scss/base/_base.scss */
.whiteSlider .carousel-cell1 {
  height: 300px;
}

@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MyriadPro-Regular.otf);
}

/* line 2, ../scss/layout/_header.scss */
header {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  text-align: center;
}
/* line 8, ../scss/layout/_header.scss */
header .wrapper {
  margin: 0 auto;
  width: 900px;
}
/* line 11, ../scss/layout/_header.scss */
header .wrapper .logo {
  margin-top: -0.3em;
  float: left;
  font-family: "MyriadPro";
  font-size: 55px;
  color: #da251d;
  text-decoration: none;
}
/* line 22, ../scss/layout/_header.scss */
header .wrapper nav {
  margin: 0 auto;
  margin-top: 3em;
}
/* line 26, ../scss/layout/_header.scss */
header .wrapper nav a {
  color: #c4c4c4;
  text-decoration: none;
  margin-top: 2em;
  font-weight: bold;
  font-family: "MyriadPro";
  padding: 5px;
}
/* line 33, ../scss/layout/_header.scss */
header .wrapper nav a:hover {
  color: #272727;
}
/* line 37, ../scss/layout/_header.scss */
header .wrapper nav a.selected {
  color: #272727;
  border-top: solid;
  border-color: #da251d;
  padding-top: 2em;
}

/* line 2, ../scss/layout/_footer.scss */
footer {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background: #efefef;
}
/* line 8, ../scss/layout/_footer.scss */
footer .wrapper {
  margin: 0 auto;
  width: 900px;
  font-family: "MyriadPro";
}
/* line 13, ../scss/layout/_footer.scss */
footer .wrapper ul {
  display: inline-block;
  width: 24%;
}
/* line 17, ../scss/layout/_footer.scss */
footer .wrapper ul .logo {
  margin-top: -2em;
  float: left;
  font-family: "MyriadPro";
  font-size: 55px;
  color: #da251d;
  list-style-type: none;
}
/* line 27, ../scss/layout/_footer.scss */
footer .wrapper ul li {
  margin: 0 auto;
  list-style-type: none;
  display: block;
  font-size: 14px;
  color: #a8a8a8;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 36, ../scss/layout/_footer.scss */
footer .wrapper ul li span {
  color: #da251d;
}
/* line 41, ../scss/layout/_footer.scss */
footer .wrapper ul .column {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding-bottom: 5px;
}
/* line 49, ../scss/layout/_footer.scss */
footer .wrapper ul .lineBorder {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #a8a8a8;
}
